extends layout

block content
  div(class='header flex justify-center')
    h1(class='constanze-type-static') Constanze
      span(style='color: white;') .
      span(class='constanze-type')
  div(class='container flex justify-center mt-16')
    img(class='avatar avatar_256')
    a(href='https://discord.gg/bmpen3DzF6')
      i(class='fab fa-discord social discord')
    a(href='https://github.com/Julz4455')
      i(class='fab fa-github social github')
    a(href='https://gitlab.com/ConstanzeAmalie')
      i(class='fab fa-gitlab social github')
    a(href='https://reddit.com/JulzTDG')
      i(class='fab fa-reddit-alien social reddit')
    a(href='https://twitter.com/DrunkProgramer')
      i(class='fab fa-twitter social twitter')
    a(href='https://instagram.com/amaliedev')
      i(class='fab fa-instagram social insta')
    a(href='https://npmjs.com/~constanze')
      i(class='fab fa-npm social npm')
    a(href='https://facebook.com/constanzedev')
      i(class='fab fa-facebook social facebook')
    a(href='https://open.spotify.com/user/psvitaaddictionz')
      i(class='fab fa-spotify social spotify')
  //- div(class='container-inner flex justify-center mt-4')
  //-   select(class='theme-select')
  //-     option(value='civic' id='civic') Xcode Civic
  //-     option(value='bbg' id='bbg') Blurred Background
  script(src='/js/load_avatar.js')
  script(src='/js/home_type.js')
  //- Do this later...
  //- script(src='/js/theme_select.js')
