.social
  color: var(--social-primary)
  font-size: 2rem
  transition: all 500ms
  margin-left: 1.5rem

.social:hover
  font-size: 1.75rem
  line-height: 1
  transition: all 500ms

.discord:hover
  color: #7289DA

.reddit:hover
  color: #FF5700

.github:hover
  color: var(--github)

.twitter:hover
  color: #1DA1F2

.insta:hover
  color: #FCAF45

.npm:hover
  color: #CC3534

.facebook:hover
  color: #4267b2

.spotify:hover
  color: #1DB954
