:root {
  --background: #292b36;
  --backdrop: none;
  --image-primary: #e7e8eb;
  --object-primary: #00aaa3;
  --term-primary: #e12da0;
  --social-primary: #fff;
  --github: #fff;
}
body {
  background: var(--background);
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: var(--backdrop);
  color: #e7e8eb;
  padding: 50px;
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  font-family: "SF Pro Rounded", sans-serif;
}
a,
a:visited {
  color: var(--object-primary);
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
}
.constanze-type,
.constanze-type-static {
  font-weight: 600;
  font: 30px "SF Mono", monospace;
}
.constanze-type-static {
  color: var(--object-primary);
}
.constanze-type {
  color: var(--term-primary);
}
.avatar {
  transition: 2s ease-out all;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 var(--image-primary);
  position: absolute;
  top: 35%;
  left: 40%;
  animation: avatar-float 2s ease-in-out 0s infinite alternate-reverse;
}
.avatar:hover {
  animation: none;
  box-shadow: 0 6px 10px 0 var(--image-primary);
}
@-moz-keyframes avatar-float {
  to {
    box-shadow: 0 0 10px 0 var(--background);
  }
  from {
    box-shadow: 0 6px 10px 0 var(--image-primary);
  }
}
@-webkit-keyframes avatar-float {
  to {
    box-shadow: 0 0 10px 0 var(--background);
  }
  from {
    box-shadow: 0 6px 10px 0 var(--image-primary);
  }
}
@-o-keyframes avatar-float {
  to {
    box-shadow: 0 0 10px 0 var(--background);
  }
  from {
    box-shadow: 0 6px 10px 0 var(--image-primary);
  }
}
@keyframes avatar-float {
  to {
    box-shadow: 0 0 10px 0 var(--background);
  }
  from {
    box-shadow: 0 6px 10px 0 var(--image-primary);
  }
}
